@font-face {
    font-family: "NanitoSans";
    src: local("NanitoSans-Black"),
      local("NanitoSans-Black"),
      url("NanitoSans-Black.ttf") format("ttf"),
      url("nanitosans-black.woff") format("woff"),
      url("nanitosans-black.woff2") format("woff2"),
    
  }

.answer-doc{
    display: inline-block;
    width: 50%;
    margin-left: 5%;
    margin-top: 2%;
    min-height: 70vh;
    box-shadow: 10px 10px 16px 6px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    border-radius: 15px;
}




.DropFileInput{
    font-family: "NanitoSans", sans-serif;
}

.DropFileInput{
    position: absolute;
    top: 23vh;
    left: 65vw;
    height: auto;
    width: 20%;
}

.answer-doc{
    padding: 1%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}