.Footer{
  background-color: rgb(42, 42, 42);
  height: 20vh;
  box-shadow: 0px 4px 38px 29px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(10,10%);
  grid-template-rows: 60% 5% 35%;
}


.Footer {
  font-family: "NanitoSans", sans-serif;
}

.Strip{
  width: 80%;
  grid-row: 2/2;
  grid-column: 1/11;
  color: rgb(114, 114, 114);
  background-color: rgb(114, 114, 114);
  margin-left: auto;
  margin-right: auto;
}


.Logo_znania{
  display: inline-block;
  width: 30% !important;
  height: 40%;
  margin-left: 20% !important;
  margin-right: auto;
  margin-top: 10%;
}

.Logo_AdOFF{
  display: inline-block;
  width: 30% !important;
  height: 40%;
}

.Logo_tea_footer{
  display: block;
  width: 70% !important;
  height: 30%;
  margin-left: 15%;
  margin-top: 7%;
  
}

.Logo_footer{
  grid-row: 0/1;
  grid-column: 2/3;
}

.Cooperation_text a {
  display: block;
  
}

.Cooperation_text {
  height: 100%;
  grid-row: 0/1;
  grid-column: 3/4;
  margin-top: 10%;
}

.Cooperation_text a {
  font-size: 80%;
  color: rgb(196, 196, 196);
}

.emoji{
  grid-row: 1/1;
  grid-column: 6/10;

}

.emoji img{
  height: 50%;
  width: 100%;
  margin-top: 5%;
}

.contact_information{
  grid-column: 5/7;
  grid-row: 3/3;
}

.icons_contact{
  text-align: center;
}

.Copyright p{
  color: rgb(114, 114, 114);
  font-size: 0.8vw;
  font-weight: 400;
  text-align: center;
  margin-top: -1%;
}

.icons_contact img{
  width: 12%;
  height: auto;
}
