@font-face {
  font-family: "NanitoSans";
  src: local("NanitoSans-Black"),
    local("NanitoSans-Black"),
    url("NanitoSans-Black.ttf") format("ttf"),
    url("nanitosans-black.woff") format("woff"),
    url("nanitosans-black.woff2") format("woff2"),
  
}


.Artistic{
  background-color: rgba(75, 192, 192, 0.5);
  border-radius: 10px;
  padding: 1%;
}

.Publicistic{
  background-color: rgba(54, 162, 235, 0.5);
  border-radius: 10px;
  padding: 1%;
}

.Scientific{
  background-color: rgba(255, 99, 132, 0.5);
  border-radius: 10px;
  padding: 1%;
}

.Conversational{
  background-color: rgba(153, 102, 255, 0.5);
  border-radius: 10px;
  padding: 1%;
}

.Official-business{
  background-color: rgba(255, 206, 86, 0.5);
  border-radius: 10px;
  padding: 1%;
}

.TextStyleConclusion{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  font-size: 1.8vw;
  margin-bottom: 4vw;
  margin-top: -2vw;
  font-family: "NanitoSans", sans-serif;
}

.StyleConclusions_definition{
  font-weight: bolder;
  font-size: 2vw;
}

.TextStyleConclusion div{
  display: block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
