@font-face {
    font-family: "NanitoSans";
    src: local("NanitoSans-Black"),
      local("NanitoSans-Black"),
      url("NanitoSans-Black.ttf") format("ttf"),
      url("nanitosans-black.woff") format("woff"),
      url("nanitosans-black.woff2") format("woff2"),
    
}

.section{
  display: block;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

.text_input{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 4px solid rgb(89, 89, 89);
    border-radius: 15px;
    box-shadow: inset 0px 4px 14px 6px rgba(0, 0, 0, 0.25);
    background: rgb(42, 42, 42);
    width: 70%;
    height: 70%;
    display: block;
  
}

.text_input{
    font-family: "NanitoSans", sans-serif;
} 

.text_input{
    color: rgba(255, 255, 255, 0.79);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: start;
}

/* .text_input {
    resize: none;
    overflow: hidden;
    min-height: 65px;
    max-height: 100px;
} */



.Processing_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 20%;
  height: 10%;
  border-radius: 42px;
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
}

.Processing_btn:hover {
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
  opacity: 0.6; 
}

.Processing_btn::after {
  box-shadow: 0px 6px 21px 2px rgba(0, 0, 0, 0.25);
  background: var(--border-color);
  opacity: 0.6;   
}

.Processing_btn {
  font-family: "NanitoSans", sans-serif;
  font-weight: 600px;
  font-size: 36px;
}

.Processing_btn>img{
  width: 50%;
  height: auto;
}


.answer-txt{
  display: block;
  min-height: 50vh;
  width: 70%;

  box-shadow: 10px 10px 16px 6px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255); 
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 1%;
  

}

.Strip{
  margin-top: 5%;
  width: 85%;
  height: 2px;
  background-color: black;
}

